@page "/"
@using Volo.Abp.MultiTenancy
@inherits Qa2664ComponentBase
@inject ICurrentTenant CurrentTenant
<div class="container">
    <div class="p-5 text-center">
        <Badge Color="Color.Success" class="mb-4">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>Qa2664</strong> is successfully running!</h5>
        </Badge>

        <h1>Welcome to the Application</h1>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

        @if ( !CurrentUser.IsAuthenticated )
        {
            <TextEdit @bind-Text="@UserName" Placeholder="UserName" /> 
            <TextEdit @bind-Text="@Password" Placeholder="Password" />
            
            <Button Color="Color.Primary" onclick="@LoginAsync">login</Button>
        }
    </div>

    
</div>
